@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    --negro: #141414;
    --blanco: #fafafa;
    --gris-oscuro: #3b3b3b;
    --gris: #7a7a7a;
    --gris-claro: #e0e0e0;
    --bordo: #a52a2a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans';
    font-size: 1em;
    text-decoration: none;
    list-style: none;
    
}

.header2 {
    background-color: #141414;
    height: 80px;
    width: 100%;
    position: absolute;
    padding: 1em 2em;
    top: 0;
    left: 0;
    z-index: 999;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    margin: auto;
    max-width: 1200px;
    flex-wrap: nowrap;
}

.logo img{
    height: 2em;
    width: auto;
    cursor: pointer;
    transition: all 0.3s;
}

.logo img:hover{
    transform: scale(1.1);
}

.navbar{
    display: flex;
    gap: 5em;
    margin: 0;
}

.navbar li{
    transition: all 0.3s;
}

.navbar li:hover{
    transform: scale(1.1);
}

.navbar a{
    color: #9c9c9c;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 600;
    text-decoration: none;
}

.navbar a:hover{
    color: #e0e0e0;
    transition: 0.5s;
}

.navtoggle{
    color: #9c9c9c;
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    display: none;
}

/* Menú Desplegable
=================================================== */
.menu-desplegable{
    position: absolute;
    right: 2em;
    top: 80px;
    width: 300px;
    height: 0;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(15px);
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    display: none;
}

.menu-desplegable.open{
    height: auto;
}

.menu-desplegable li{
    padding: 0.7em;
    display: flex;
    align-items: center;
    justify-content: center;
}


.menu-desplegable li:hover,
.menu-desplegable li:active{
    background-color: rgba(127, 127, 127, 0.4);
    transition: 0.5s;
}

.menu-desplegable li a{
    color: #e0e0e0;
    font-size: 1em;
}

.contacto-container {

    display: flex;
    flex-direction: column;
    background-color: var(--blanco);
    /*height: 800px;*/
    margin: 100px 40px;
    justify-content: space-evenly;
    overflow: auto;
}

.contacto-container h2 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 40px;
    font-weight: bold;
    
}

.caja-contacto {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: "form info"
        "form map";
    gap: 20px;
    margin-left: 150px;
    margin-right: 150px;
    box-shadow: 0 5px 35px rgba(20, 20, 20, 0.15);
}

.form {
    grid-area: form;
}

.info {
    grid-area: info;
}

.map {
    grid-area: map;
}

.contact {
    padding: 40px;
    box-shadow: 0 5px 35px rgba(20, 20, 20, 0.15);
}

.contact h3 {
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 10px;
}

/* Formulario */
.info-caja {
    display: flex;
    align-items: center;
    padding: 20px;
}

.input-caja {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 100%;
}
.input-caja .btn{
    background-color: var(--gris-claro);
    color: var(--negro);
    width: 30%;
    transition: 0.4s ease;
}

.input-caja .btn:hover{
    background-color: var(--bordo);
    color: white;
    transform: scale(1.05,1.05);
}


textarea {
    resize: none;
}

input,
textarea {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 0.2em solid var(--gris-claro);
}

input:focus,
textarea:focus {
    outline: none;
}

/* Info */
.info-container {
    background-color: var(--negro);
    color: white;
    text-decoration: none;
    overflow-y: scroll;
}

.info-container ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 20px;

}
.info-caja{
    display: flex;
    align-items: center;
}
.info-caja span{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gris-claro);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    overflow: auto;
}
.info-caja p, .info-caja a{
    padding-left: 10px;
}
.info-caja span i{
   
    font-size: 20px;
    color: var(--gris-oscuro);

}

.info-container ul li i{
    font-size: 30px;
}
.info-caja a{
    color: var(--gris-claro);
}
/* mapita */
.map-container {
    display: flex;
    justify-content: center;
    box-shadow: 0 5px 35px rgba(20, 20, 20, 0.15);
}
/* VER COMO MIERDA ACOMODAR EL MAPAAAAAAAAAAAAAAAAAAAAAAAAA */

.footer{
    background: #141414;
    color: #e0e0e0;
    padding: 3em 0 2em;
}

.footer-container{
    max-width: 1200px;
    margin: auto;
    display: flex;
}

.footer-logo{
    width: 20%;
}

.footer-logo img{
    height: 2em;
    cursor: pointer;
}

.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.footer-col{
    width: 20%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
}

.footer-col h3{
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 1em;
}

.footer-col a, .footer-col p{
    color: #9c9c9c;
}

.footer-col a{
    text-decoration: none;
    transition: all .3s ease;
}

.footer-col a:hover{
    color: #a52a2a;
    padding-left: 5px;
}

.footer-col a:not(:last-child),
.footer-col p:not(:last-child){
    margin-bottom: 10px;
}

.footer-col span{
    margin-bottom: 5px;
}

.redes a{
    font-size: 1.5em;
    display: inline-block;
}

.redes a:not(:last-child){
    margin-right: 0.7em;
}

.redes a:hover{
    transform: scale(1.2);
    color: #a52a2a;
}

@media screen and (max-width: 1280px){
    /* Barra de Navegación */
    .nav{
        justify-content: flex-end;
        gap: 40%;
    }
    
    .navbar{
        display: none;
    }

    .navtoggle{
        display: block;
    }

    .menu-desplegable{
        display: block;
    }

    /* Footer */
    .footer-logo{
        width: 40%;
        padding-left: 40px;
    }

    .footer-col{
        width: 40%;
        margin-bottom: 30px;
    }
}

@media(max-width: 768px){
    .contacto-titulo h2{
        font-size: 2em;
    }
    .caja-contacto{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        height: 100%;
        margin: 0;
    }
    .info-container{
        overflow: visible;
    }

    .footer-logo{
        width: 40%;
        padding-left: 40px;
    }

    .row{
        justify-content: space-around;
    }

    .footer-col{
        width: 40%;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 480px) {
    .contacto-titulo h2{
        font-size: 2em;
    }
    .caja-contacto{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        height: 100%;
        margin: 0;
    }
    .info-container{
        overflow: visible;
    }

    .footer{
        padding: 2em 0 1em;
    }
    .footer-container{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .footer-col{
        padding: 0;
    }

    .footer-logo{
        padding: 0;
        margin-bottom: 2em;
    }

    .redes a:not(:last-child){
        margin-right: 0.4em;
    }
}

