
header {
    background-color: #141414;
    color: #fafafa;
    text-align: center;
}

.producto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #e0e0e0;
    max-width: 1000px;
    margin: auto;
    border-radius: 5px;

  }

.imagen {
    margin: 10px;
    padding: 0px;
        
}
img {
    border-radius: 5px;
}
.descripcion {
    margin: 10px;
    padding: 10px;
    background-color: #9c9c9c;
    width: 328px;
    /*max-width: 50%;*/
    border-radius: 5px;
    
}