@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

body{
    height: 100vh;
}

.site{
    position: relative;
    height: 100vh;
}

.header {
    background-color: #141414;
    height: 80px;
    width: 100%;
    position: absolute;
    padding: 1em 2em;
    top: 0;
    left: 0;
    z-index: 999;
}
.header2 {
    background-color: #141414;
    height: 80px;
    width: 100%;
    position: absolute;
    padding: 1em 2em;
    top: 0;
    left: 0;
    z-index: 999;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    margin: auto;
    max-width: 1200px;
    flex-wrap: nowrap;
}

.logo img{
    height: 2em;
    width: auto;
    cursor: pointer;
    transition: all 0.3s;
}

.logo img:hover{
    transform: scale(1.1);
}

.navbar{
    display: flex;
    gap: 5em;
    margin: 0;
}

.navbar li{
    transition: all 0.3s;
}

.navbar li:hover{
    transform: scale(1.1);
}

.navbar a{
    color: #9c9c9c;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 600;
    text-decoration: none;
}

.navbar a:hover{
    color: #e0e0e0;
    transition: 0.5s;
}

.navtoggle{
    color: #9c9c9c;
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    display: none;
}

/* Menú Desplegable
=================================================== */
.menu-desplegable{
    position: absolute;
    right: 2em;
    top: 80px;
    width: 300px;
    height: 0;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(15px);
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    display: none;
}

.menu-desplegable.open{
    height: auto;
}

.menu-desplegable li{
    padding: 0.7em;
    display: flex;
    align-items: center;
    justify-content: center;
}


.menu-desplegable li:hover,
.menu-desplegable li:active{
    background-color: rgba(127, 127, 127, 0.4);
    transition: 0.5s;
}

.menu-desplegable li a{
    color: #e0e0e0;
    font-size: 1em;
}



/* Estilos del carrousel */
.d-item{
    height: 100vh;
    object-fit: cover;
    filter: brightness(0.6);
}




.main{
    position: relative;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 80px auto;
}

.main h1{
    text-align: center;
    padding-top: 30px;
    text-transform: uppercase;
    font-weight: 600;
}


.nosotros{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    margin: auto;
    max-width: 1200px;
    position: relative;
    top: 80px;
}

.nosotros .titulo{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 600;
}

.nosotros .titulo span{
    color: #a52a2a;
}

.nosotros .contenido{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nosotros .contenido .img{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.nosotros .contenido .img img{
    object-fit: cover;
    width: 100%;
}

.nosotros .contenido .right{
    margin: 0 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 35%;
}

.nosotros .contenido .right .parrafo p{
    font-size: 17px;
    text-align: justify;
    line-height: 1.5;
    margin-bottom: 30px;
}

.nosotros .contenido .right .tarjetas-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: nowrap;
}

.nosotros .contenido .right .tarjetas-container .tarjeta{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 100px;
}

.nosotros .contenido .right .tarjetas-container .tarjeta i{
    background-color: #a52a2a;
    color: #fafafa;
    font-size: 55px;
    padding: 12px;
    border-radius: 50px;
    box-shadow: 2px 4px 4px rgba(20, 20, 20, 0.25);
}

.nosotros .contenido .right .tarjetas-container .tarjeta p{
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    color: #9c9c9c;
}

.nosotros .boton{
    display: flex;
    align-items: center;
    background-color: #141414;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin: 0 auto 5% auto;
    transition: all .5s ease;
}

.nosotros .boton:hover{
    background-color: #a52a2a;
    transform: scale(1.1);
}

.nosotros .boton a{
    font-size: 16px;
    color: #fafafa;
    display: flex;
    gap: 10px;
    padding: 15px 35px;
}




.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0;
    background-color: #141414;
    overflow-x: hidden;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sidenav .closebtn {
    position: absolute;
    top: 60px;
    right: 10px;
    font-size: 36px;
    margin-left: 50px;
}
.sidenav a{
    padding: 8px 8px 8px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #fafafa;
    display: block;
    transition: 0.3s;
}
.sidenav h3{
    /* padding: 8px 8px 8px 8px; */
    margin: 8px 20px;
    text-decoration: none;
    font-size: 20px;
    color: #fafafa;
    display: block;
    transition: 0.3s;
}
.sidenav h4{
    /* padding: 8px 8px 8px 8px; */
    margin: 10px 20px;
    text-decoration: none;
    color: #fafafa;
    display: block;
    transition: 0.3s;
}
.sidenav input{
    max-width: 100%;
    padding: 8px 8px 8px 8px;
    margin: 8px 20px;
}

.sidenav .buttons{
    display: flex;
    justify-content: space-evenly;
}

.sidenav .buttons input{
    width: 35%;
}

.catalogo{
    width: 100%;
    position: relative;
}

body.overlay-active::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none; 
    z-index: 1;
}

.producto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #e0e0e0;
    margin: auto;
    border-radius: 5px;
  }

.filter{
    width: 100%;
    margin-bottom: 10px;
}

.imagen {
    margin: 10px;
    padding: 0px;
}
.imagen img {
    border-radius: 5px;
    width: 328px;
    height: 230px;
    object-fit: cover;
    transition: all .3s ease;
}
.imagen img:hover{
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    transform: scale(1.1); 
}
.descripcion {
    margin: 10px;
    padding: 10px;
    background-color: #9c9c9c;
    width: 328px;
    /*max-width: 50%;*/
    border-radius: 5px;
    
}


.footer{
    background: #141414;
    color: #e0e0e0;
    padding: 3em 0 2em;
}

.footer-container{
    max-width: 1200px;
    margin: auto;
    display: flex;
}

.footer-logo{
    width: 20%;
}

.footer-logo img{
    height: 2em;
    cursor: pointer;
}

.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.footer-col{
    width: 20%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
}

.footer-col h3{
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 1em;
}

.footer-col a, .footer-col p{
    color: #9c9c9c;
}

.footer-col a{
    text-decoration: none;
    transition: all .3s ease;
}

.footer-col a:hover{
    color: #a52a2a;
    padding-left: 5px;
}

.footer-col a:not(:last-child),
.footer-col p:not(:last-child){
    margin-bottom: 10px;
}

.footer-col span{
    margin-bottom: 5px;
}

.redes a{
    font-size: 1.5em;
    display: inline-block;
}

.redes a:not(:last-child){
    margin-right: 0.7em;
}

.redes a:hover{
    transform: scale(1.2);
    color: #a52a2a;
}

@media screen and (max-width: 1280px){

    /* Barra de Navegación */
    .nav{
        justify-content: flex-end;
        gap: 40%;
    }
    
    .navbar{
        display: none;
    }

    .navtoggle{
        display: block;
    }

    .menu-desplegable{
        display: block;
    }


    .nosotros{
        height: 100%;
        margin-bottom: 200px;
    }

    .nosotros .titulo{
        font-size: 150%;
        margin: 30px 0;
    }

    .nosotros .contenido{
        flex-direction: column;
    }

    .nosotros .img{
        height: 100%;
        width: 70%;
    }

    .nosotros .contenido .right{
        max-width: 70%;
        margin: 20px 0;
    }

    .nosotros .boton{
        margin-bottom: 40px;
    }

    .nosotros .contenido .right .tarjetas-container .tarjeta i{
        font-size: 45px;
    }

     /* Footer */
     .footer-logo{
        width: 40%;
        padding-left: 40px;
    }

    .footer-col{
        width: 40%;
        margin-bottom: 30px;
    }

}

@media(max-width: 768px){

    .nosotros .titulo{
        font-size: 20px;
    }

    .menu-desplegable{
        left: 2em;
        width: unset;
    }

    .nosotros .contenido .right .tarjetas-container .tarjeta i{
        font-size: 35px;
    }

    .footer-logo{
        width: 40%;
        padding-left: 40px;
    }

    .row{
        justify-content: space-around;
    }

    .footer-col{
        width: 40%;
        margin-bottom: 30px;
    }

}

@media(max-width: 576px){

    .nosotros .titulo{
        font-size: 15px;
    }

    .footer{
        padding: 2em 0 1em;
    }
    .footer-container{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .footer-col{
        padding: 0;
    }

    .footer-logo{
        padding: 0;
        margin-bottom: 2em;
    }

    .redes a:not(:last-child){
        margin-right: 0.4em;
    }
}