body{
    margin: 0;
    padding: 0;
}

header {
    background-color: #141414;
    color: #fafafa;
    text-align: center;
    margin: 0px;
    padding: 5px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 80px;
    left: 0;
    background-color: #141414;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 80px;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 36px;
    margin-left: 50px;
}
.sidenav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #fafafa;
    display: block;
    transition: 0.3s;
}
.sidenav h3{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #fafafa;
    display: block;
    transition: 0.3s;
}


.producto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #e0e0e0;
    max-width: 1000px;
    margin: auto;
    border-radius: 5px;
    
  }

.imagen {
    margin: 10px;
    padding: 0px;
        
}
img {
    border-radius: 5px;
    width: 100%;
}
img:hover{
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    transform: scale(1.1); 
}
.descripcion {
    margin: 10px;
    padding: 10px;
    background-color: #9c9c9c;
    width: 328px;
    /*max-width: 50%;*/
    border-radius: 5px;
    
}